extends ../../layout 

block main-content 
    h1.page-title Web Projects
    a(href='/admin/web/add').button + Add Web Project 
    table 
        thead 
            tr 
                th Title 
                th Release Year
                th Description
                th
        tbody 
            each project in projects 
                tr
                    if (editProject == project._id)
                        form(method="post", action="/admin/web/edit")
                            input(type="hidden", name="projectID", value=project._id)
                            td 
                                input(type="text", id="project-name", name="name", value=project.name)
                            td 
                                input(type="text", id="date", name="date", value=project.releaseYear)
                            td 
                                textarea(id="description", name="description", value=project.description)
                            td.manage-actions
                                button(type="submit"): span.material-symbols-outlined check
                                a(href='/admin/web').button: span.material-symbols-outlined cancel

                    else 
                        td #{project.name}
                        td #{project.releaseYear}
                        td #{project.description}
                        td.manage-actions
                            form(action="/admin/web/edit")
                                input(type="hidden", name="webID", value=project._id)
                                button(type="submit"): span.material-symbols-outlined edit_square
                            form(action="/admin/web/delete", method="post")
                                input(type="hidden", name="webID", value=project._id)
                                button(type="submit"): span.material-symbols-outlined delete
    if (addProject)
        form(method="post", action="/admin/web/add")
            td 
                input(type="text", id="project-name", name="name")
            td 
                input(type="text", id="date", name="date")
            td 
                textarea(id="description", name="description")
            td.manage-actions
                button(type="submit"): span.material-symbols-outlined check
                a(href='/admin/web').button: span.material-symbols-outlined cancel    
